<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>clients.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CursServlet</servlet-name>
        <servlet-class>clients.CursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CursServlet</servlet-name>
        <url-pattern>/CursServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentServletJNDI</servlet-name>
        <servlet-class>clients.StudentServletJNDI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServletJNDI</servlet-name>
        <url-pattern>/StudentServletJNDI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CursServletJNDI</servlet-name>
        <servlet-class>clients.CursServletJNDI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CursServletJNDI</servlet-name>
        <url-pattern>/CursServletJNDI</url-pattern>
    </servlet-mapping>

</web-app>